<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bicicletas Universitarias</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">

    <script>
        function habilitarboton(id)
        {
            if (id==="btn1"){
                    document.getElementById("btn2").disabled=true;
                    document.getElementById("btn3").disabled=true;
                    document.getElementById("btn4").disabled=true;

                }
            else if(id==='btn2'){
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn3").disabled=true;
                document.getElementById("btn4").disabled=true;
                }
            else if(id==='btn3'){
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn2").disabled=true;
                document.getElementById("btn4").disabled=true;
            }
            else if(id==='btn4'){
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn3").disabled=true;
                document.getElementById("btn2").disabled=true;
            }
        }
    </script>
    <script>
        function habilitar(value,id)
        {
            if (id==="cbox1"){
                if(value===true)
                {
                    // habilitamos
                    document.getElementById("mat").disabled=false;
                }else if(value===false){
                    // deshabilitamos
                    document.getElementById("mat").disabled=true;
                }
            }
        }
    </script>

    <script type="text/javascript">
        document.title = "Título de la pagina";


        var answer_mode = 0;

        function clear1() {
            document.forms["calculator"].display.value = "";
        }

        function clear() {
            clear1();
        }


        function number(ch) {
            if (answer_mode) {
                clear1();
                answer_mode = 0;

            }
            document.forms["calculator"].display.value += ch;
            var hoja=ch
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Biking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/entrar">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

