<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bicicletas Universitarias</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Lo demas-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/botonesalquiler.css">
    <link rel="stylesheet" href="/stylesheets/administrar.css">
    <link rel="stylesheet" href="/stylesheets/sidemenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <script>
        function habilitarboton(id)
        {
            if (id==="btn1"){
                    document.getElementById("btn2").disabled=true;
                    document.getElementById("btn3").disabled=true;
                    document.getElementById("btn4").disabled=true;

                }
            else if(id==='btn2'){
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn3").disabled=true;
                document.getElementById("btn4").disabled=true;
                }
            else if(id==='btn3'){
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn2").disabled=true;
                document.getElementById("btn4").disabled=true;
            }
            else if(id==='btn4'){
                document.getElementById("btn1").disabled=true;
                document.getElementById("btn3").disabled=true;
                document.getElementById("btn2").disabled=true;
            }
        }
    </script>
    <script>
        function habilitar(value,id)
        {
            if (id==="cbox1") {
                if (value === true) {
                    // habilitamos
                    document.getElementById("mat").disabled = false;
                    document.getElementById("cbox2").disabled = true;

                } else if (value === false) {
                    // deshabilitamos
                    document.getElementById("mat").disabled = true;
                    document.getElementById("cbox2").disabled = false;
                }
            }
            else if (id==="cbox2"){
                if (value===true){
                    document.getElementById("ced").disabled=false;
                    document.getElementById("cbox1").disabled = true;
                }else if(value===false){
                    document.getElementById("ced").disabled=true;
                    document.getElementById("cbox1").disabled = false;
                }
            }
        }
    </script>
    <script type="text/javascript">
        var answer_mode = 0;

        function clear1() {
            document.forms["calculator"].display.value = "";
        }

        function clear() {
            clear1();
        }


        function number(ch) {
            if (answer_mode) {
                clear1();
                answer_mode = 0;

            }
            document.forms["calculator"].display.value += ch;
            var hoja=ch
        }
    </script>
    <script>
        function hideshow(){
            if(document.getElementById("formbici").style.display=="block")
            {
                (document.getElementById("formbici").style.display="none")
            }
            else
            if(document.getElementById("formbici").style.display=="none")
            {
                (document.getElementById("formbici").style.display="block")
            }
        }
    </script>

</head>
<body>
<section><%include navbar.ejs %></section>
<main class="container p5">
    <section><%include messages.ejs %></section>
    <section><%include errors.ejs %></section>
</main>