<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">SAABI</a>
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: white;">Usuario</a>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Viajes</a>
                <a class="dropdown-item" href="#">Estaciones</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
            </div>
        </li>
    </ul>
</nav>
