<% include partials/_headers %>
<div class="contenedor" id="cont">
    <div class="elemento">
                    <button type="submit" id="adm1"
                            onclick="location.href='/signin'">Bicicletas
                    </button>
    </div>
    <div class="elemento">
                    <button type="submit" id="adm2"
                            onclick="location.href='/alquilar'">Estaciones
                    </button>
    </div>
    <div class="elemento">
        <button type="submit" id="adm3"
                onclick="location.href='/alquilar'">Viajes
        </button>
    </div>
    <div class="elemento">
        <button type="submit" id="adm4"
                onclick="location.href='/alquilar'">Rutas
        </button>
    </div>
    <div class="elemento">
        <button type="submit" id="adm5"
                onclick="location.href='/alquilar'">Usuarios
        </button>
    </div>
</div>
<div class="container my-9">
    <div class="col-md-12">
        <div class="card" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; margin-top:50px">
            <div class="card-header">
                <h3 >PUCMM</h3>
            </div>
            <div class="card-body" style="background-color:#DCDCDC;">
                <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
                <div id="map" class="map"></div>
                <script>
                    var map = new ol.Map({
                        layers: [new ol.layer.Tile({source: new ol.source.OSM()})],
                        target: 'map',
                        view: new ol.View({
                            projection: 'EPSG:4326',
                            center: [-70.6827,19.4436],
                            zoom: 16})});
                </script>
            </div>
        </div>
    </div>
</div>
<!--<div class="container my-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Disponibilidad de la Estación</h3>
            </div>
            <div class="card-body" style="margin-left : auto; margin-right : auto">
                    <h3 style="text-transform: capitalize;">Bienvenido/a <%=user.primername%></h3>
                    <br>
                    <div class="container">
                        <button type="submit" id="adm1">

                            Registrar Bicicleta
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>-->
<% include partials/_footer %>