<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bicicletas Universitarias</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js"></script>

    <script src="/ui.js" type="text/javascript" defer></script>
    <script src="/mqtt.js" type="text/javascript"></script>
    <!--Lo demas-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/botonesalquiler.css">


    <style type="text/css">
        body {font-family: sans-serif;}
        table {empty-cells: show;}
        .on {background-color: #00FF00; }
        .off {background-color: #FF0000; }
        .set_on {background-color: #CCFFCC;}
        .set_off {background-color: #FFCCCC;}
        .unknown {background-color: #DDDDDD;}
        .on:before, .set_on:before {content: "Disponible";  }
        .off:before, .set_off:before {content: "No disponible"; }
        .unknown:before	{content: " ";}
        #slot0,#slot1,#slot2,#slot3{cursor: pointer;}
    </style>


    <script>
        function habilitar(value,id)
        {
            if (id==="cbox1") {
                if (value === true) {
                    // habilitamos
                    document.getElementById("mat").disabled = false;
                    document.getElementById("cbox2").disabled = true;

                } else if (value === false) {
                    // deshabilitamos
                    document.getElementById("mat").disabled = true;
                    document.getElementById("cbox2").disabled = false;
                }
            }
            else if (id==="cbox2"){
                if (value===true){
                    document.getElementById("ced").disabled=false;
                    document.getElementById("cbox1").disabled = true;
                }else if(value===false){
                    document.getElementById("ced").disabled=true;
                    document.getElementById("cbox1").disabled = false;
                }
            }
        }
    </script>

    <script type="text/javascript">
        document.title = "Título de la pagina";


        var answer_mode = 0;

        function clear1() {
            document.forms["calculator"].display.value = "";
        }

        function clear() {
            clear1();
        }


        function number(ch) {
            if (answer_mode) {
                clear1();
                answer_mode = 0;

            }
            document.forms["calculator"].display.value += ch;
            var hoja=ch
        }
    </script>
</head>
<body>
<section><%include partials/navbar.ejs %></section>
<main class="container p5">
    <section><%include partials/messages.ejs %></section>
    <section><%include partials/errors.ejs %></section>
</main>

<div class="container my-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Disponibilidad de la Estación</h3>
            </div>
            <div class="card-body" style="margin-left : auto; margin-right : auto">
                <form name="slots" action="/crearalquiler" method="post">
                    <h3 style="text-transform: capitalize;"><%=user.primername%> Elige la bicicleta que deseas utilizar:</h3>
                    <br>
                    <div class="container">
                        <button type="submit" class="unknown"  id="slot0"> <a  style="color:#fff;
                                    text-decoration:none;
                                    padding:5px 5px 5px 0"></a>1
                        </button>
                    </div>
                    <div class="container">
                        <button type="submit"  disabled="true" class="unknown" id="slot1"> <a  style="color:#fff;
                                    text-decoration:none;
                                    padding:5px 5px 5px 0"></a>2
                        </button>
                    </div>
                    <div class="container">
                        <button type="submit" disabled="true" class="unknown" id="slot2"> <a  style="color:#fff;
                                    text-decoration:none;
                                    padding:5px 5px 5px 0"></a>3
                        </button>
                    </div>
                    <div class="container">
                        <button type="submit"  disabled="true" class="unknown" id="slot3"> <a  style="color:#fff;
                                    text-decoration:none;
                                    padding:5px 5px 5px 0"></a>4
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>