<% include partials/_headers %>
<section class="app" >
    <aside class="sidebar" style="margin-top: 105px">
        <nav class="sidebar-nav" style="background-color:#2C3E50;" >
            <ul>
                <li>
                    <a href="#"><img src="Imagenes/bicycle-parking.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img><span>Estación</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#" onclick="hideshow3();"><img src="Imagenes/bicycle-parking.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img>Registrar Estación</a>
                        </li>
                        <li>
                            <a href="/administrar"><img src="Imagenes/back.png" style="font-size: 3.0em; padding-right: 0.5em; width: 1.4em; display: inline; vertical-align: middle;"></img>Volver</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>
<div class="contenedorsiete">
    <div class="card" id="new" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; height:100%; width: 100%;">
        <div class="card-header">
            <h3>Estaciones</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC;">
            <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
            <div id="mapaubicacion" class="map" style="height:100%">
                <script>
                    var map=L.map('mapaubicacion').setView([19.4436,-70.6827], 16);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

                    var marker = new L.marker([19.4436,-70.6827],{draggable: true}).addTo(map);

                    marker.on("drag", function(e) {
                        var marker = e.target;
                        var position = marker.getLatLng();
                        var lat= document.getElementById('latitude').value = marker.getLatLng().lat;
                        document.getElementById('longitude').value = marker.getLatLng().lng;
                        map.panTo(new L.LatLng(position.lat, position.lng));

                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="contenedorseis">
    <div class="card" id="cardestacion" style="width:850px; display:none;">
        <div class="card-header"  style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
            <h3>Estaciones creadas</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC; height:100%;">
            <div id="estaciontable" style="overflow:auto; max-height:250px;">
                <table class="table table-hover">

                    <thead >
                    <tr class="table-dark">
                        <th scope="col">Estación</th>
                        <th scope="col">Cantidad de Slots</th>
                    </tr>
                    </thead>
                    </thead>
                    <tbody>
                        <% estacion.forEach(function(estacion, index) { %>
                        <tr class="table-secondary">
                            <td><%=estacion.nombreestacion%></td>
                            <td><%=estacion.cantidadslot%></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="contenedorseismini">
    <div class="elementoseismini">
        <div class="card" id="adestacion" style="height:450px; width:250px;">
            <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
                <h3>Agregar Estación</h3>
            </div>
            <div class="card-body" >
                <form id="formestac" style="display:block" action="/addestac" method="post">
                    <div class="form-group">
                        <input type="text" name="nombreestacion" placeholder="Nombre estacion" class="form-control">
                    </div>
                    <div class="form-group">
                        <select class="custom-select" name="cantidadslot">
                            <option selected="">Elija Cantidad</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group" style="font-size:13px">Ubicación
                        <input type="text" name="latitud" id="latitude" placeholder="Latitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="longitud" id="longitude" placeholder="Longitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>