<% include partials/_headers %>
<section class="app" >
    <aside class="sidebar" style="margin-top: 85px">
        <nav class="sidebar-nav" style="background-color:#2C3E50;" >
            <ul>
                <li>
                    <a href="#"><img src="Imagenes/way.svg" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img><span>Rutas</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#"><i class="icon ion-md-add"></i>Crear Rutas</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon ion-md-paper"></i>Ver Rutas</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>
<% include partials/_footer %>