<% include partials/_headers %>
<section class="app" >
    <aside class="sidebar" style="margin-top: 105px">
        <nav class="sidebar-nav" style="background-color:#2C3E50;" >
            <ul>
                <li>
                    <a href="#"><img src="Imagenes/shape.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img><span>Zonas</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#"><img src="Imagenes/shape.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img>Ver Zonas</a>
                        </li>
                        <li>
                            <a href="/administrar"><img src="Imagenes/back.png" style="font-size: 3.0em; padding-right: 0.5em; width: 1.4em; display: inline; vertical-align: middle;"></img>Volver</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>
<div class="contenedorsiete">
    <div class="card" id="new" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; height:100%; width: 100%;">
        <div class="card-header">
            <h3>Zonas</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC;">
            <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
            <div id="mapzonas" class="map" style="height:100%">
                <script>
                    var map=L.map('mapzonas').setView([19.4436,-70.6827], 16);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

                    var marker = new L.marker([19.4436,-70.6827],{draggable: true}).addTo(map);
                    var marker1 = new L.marker([19.4436,-70.6827],{draggable: true}).addTo(map);
                    var marker2 = new L.marker([19.4436,-70.6827],{draggable: true}).addTo(map);
                    var marker3 = new L.marker([19.4436,-70.6827],{draggable: true}).addTo(map);


                    marker.on("drag", function(e) {
                        var marker = e.target;
                        var position = marker.getLatLng();
                        var lat= document.getElementById('latitude').value = marker.getLatLng().lat;
                        document.getElementById('longitude').value = marker.getLatLng().lng;
                        map.panTo(new L.LatLng(position.lat, position.lng));
                    });
                    marker1.on("drag", function(e) {
                        var marker = e.target;
                        var position = marker.getLatLng();
                        var lat= document.getElementById('lat1').value = marker.getLatLng().lat;
                        document.getElementById('lon1').value = marker.getLatLng().lng;
                        map.panTo(new L.LatLng(position.lat, position.lng));
                    });
                    marker2.on("drag", function(e) {
                        var marker = e.target;
                        var position = marker.getLatLng();
                        var lat= document.getElementById('lat2').value = marker.getLatLng().lat;
                        document.getElementById('lon2').value = marker.getLatLng().lng;
                        map.panTo(new L.LatLng(position.lat, position.lng));
                    });
                    marker3.on("drag", function(e) {
                        var marker = e.target;
                        var position = marker.getLatLng();
                        var lat= document.getElementById('lat3').value = marker.getLatLng().lat;
                        document.getElementById('lon3').value = marker.getLatLng().lng;
                        map.panTo(new L.LatLng(position.lat, position.lng));
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<div class="contenedorocho">
    <div class="card"  style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; height:100%; width: 100%;">
        <div class="card-header">
            <h3>Zona Creada</h3>
        </div>
        <div class="container">
            <input type="text" id="robo" name="" class="form-control" style="display: none;">
        </div>
        <div class="card-body" style="background-color:#DCDCDC;">
            <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
            <div id="mapi" class="map" style="height:100%">
                <script>
                    var mapnew=L.map('mapi').setView([19.4436,-70.6827], 16);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(mapnew);
                        let xhr= new XMLHttpRequest();
                        xhr.open('Get', '/updatezona', true);
                        var zonaactual;
                        xhr.onload=function () {
                            if (xhr.status == 200) {
                                zonaactual=JSON.parse(xhr.responseText);
                                updatezone(zonaactual);
                            }
                        }
                        xhr.send();
                    var polyline;
                    function updatezone(zona){
                        if(polyline!=undefined){
                            mapnew.removeLayer(polyline);
                        }
                        polyline= L.rectangle(zona, {color:'red',weight:1}).bindPopup('Zona').addTo(mapnew);
                        sabersiono(polyline);
                        mapnew.fitBounds(polyline.getBounds());
                    }

                    let latlon;
                    var polinew;
                    function getdata () {
                        let xhrnew= new XMLHttpRequest();
                        var e = document.getElementById("robo");
                        var strUser = e.value;
                        var ubicacion;
                        xhrnew.open('Get', '/puntobici?robo='+strUser, true);
                        xhrnew.onload=function () {
                            if (xhr.status == 200) {
                                ubicacion=JSON.parse(xhrnew.responseText);
                                updateubi(ubicacion);
                            }
                        }
                        xhrnew.send();
                    }
                    function updateubi(ubicacion){
                        latlon=ubicacion;
                    }
                    function sabersiono(poli) {
                        polinew=poli;
                    }
                    var marker;
                    setInterval(function () {
                        getdata();
                        if (marker != undefined) {
                            mapnew.removeLayer(marker);
                        }
                        for (var i=0; i<latlon.length;i++){
                            marker = L.marker(latlon[i].punto).addTo(mapnew).bindPopup(latlon[i].patron_id);
                            console.log(polinew.getBounds().contains(latlon[i].punto));
                            estado=polinew.getBounds().contains(latlon[i].punto);
                            document.getElementById("robo").innerHTML=
                               '<input type=\'text\' id=\'robo\' value='+estado+ 'class=\'form-control\' style=\'display:none;\'>';
                        }
                    },1000)
                </script>
            </div>
        </div>
    </div>
</div>
<div class="contenedorseis">
    <div class="card" id="cardestacion" style="width:850px; display:none;">
        <div class="card-header"  style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
            <h3>Estaciones creadas</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC; height:100%;">
            <div id="estaciontable" style="overflow:auto; max-height:250px;">
            </div>
        </div>
    </div>
</div>
<div class="contenedorseismini">
    <div class="elementoseismini">
        <div class="card" id="zona" style="height:900px; width:250px; margin-top:-860px;">
            <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
                <h3>Agregar Zona</h3>
            </div>
            <div class="card-body" >
                <form id="formzona" style="display:block" action="/addzona" method="post">
                    <div class="form-group">
                        <input type="text" name="nombrezona" placeholder="Nombre zona" class="form-control">
                    </div>
                    <div class="form-group" style="font-size:13px">Primer punto
                        <input type="text" name="latitud" id="latitude" placeholder="Latitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="longitud" id="longitude" placeholder="Longitud" class="form-control">
                    </div>
                    <div class="form-group" style="font-size:13px">Segundo Punto
                        <input type="text" name="lat1" id="lat1" placeholder="Latitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lon1" id="lon1" placeholder="Longitud" class="form-control">
                    </div>
                    <div class="form-group" style="font-size:13px">Tercer Punto
                        <input type="text" name="lat2" id="lat2" placeholder="Latitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lon2" id="lon2" placeholder="Longitud" class="form-control">
                    </div>
                    <div class="form-group" style="font-size:13px">Cuarto Punto
                        <input type="text" name="lat3" id="lat3" placeholder="Latitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lon3" id="lon3" placeholder="Longitud" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>