<% include partials/_headers %>
<div class="container">

    <div class="jumbotron mt-4">
        <hi class="display-4">Sistema automatizado para alquiler de bicicletas en campus universitario</hi>
        <p class="lead">Pontifica Universidad Católica Madre y Maestra PUCMM</p>
        <hr class="my-4">
        <p>Alquila tu bicicleta aqui </p>
        <a href='/alquilar' class="btn btn-primary btn-lg">Alquilar Bicicleta</a>
    </div>

</div>
<div class="container my-5">
    <div class="col-md-12">
        <div class="card" href="/#">
            <div class="card-body">
                <div style="text-align: center;">
                    <!---
                    <div class="container">
                        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/alquilar'">Alquilar Bicicleta</button>
                    </div>
                    <br>
                    -->

                    <div class="container">
                        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/signin'">Administrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>