<% include partials/userheader.ejs %>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<div id="map" class="map" style="height:100%">
    <script>
        var map = L.map('map').setView([19.4436,-70.6827], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        // var latlngs=[
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412145833 , -70.6828311 ] ,
        //     [ 19.4412252833 , -70.68283285 ] ,
        //     [ 19.4412323 , -70.6828330333 ] ,
        //     [ 19.4412405667 , -70.6828322667 ] ,
        //     [ 19.4412505667 , -70.6828315333 ] ,
        //     [ 19.4412621833 , -70.68282755 ] ,
        //     [ 19.4412724333 , -70.6828258333 ] ,
        //     [ 19.4412802 , -70.68282795 ] ,
        //     [ 19.4412872833 , -70.6828283 ] ,
        //     [ 19.4412946333 , -70.682827 ] ,
        //     [ 19.44130235 , -70.6828268333 ] ,
        //     [ 19.44131185 , -70.6828258833 ] ,
        //     [ 19.4413254833 , -70.6828182167 ] ,
        //     [ 19.44133915 , -70.6828090333 ] ,
        //     [ 19.44135275 , -70.68279865 ] ,
        //     [ 19.4413650667 , -70.6827921167 ] ,
        //     [ 19.4413762167 , -70.6827884667 ] ,
        //     [ 19.44138805 , -70.68278475 ] ,
        //     [ 19.44139995 , -70.6827818 ] ,
        //     [ 19.4414112333 , -70.6827793333 ] ,
        //     [ 19.4414199167 , -70.6827798833 ] ,
        //     [ 19.4414288 , -70.6827816 ] ,
        //     [ 19.4414382833 , -70.6827833833 ] ,
        //     [ 19.4414477167 , -70.68278655 ] ,
        //     [ 19.4414559167 , -70.68279515 ] ,
        //     [ 19.4414594 , -70.68280465 ] ,
        //     [ 19.4414610333 , -70.68281505 ] ,
        //     [ 19.44146115 , -70.6828240333 ] ,
        //     [ 19.4414613667 , -70.68283285 ] ,
        //     [ 19.44146105 , -70.6828426667 ] ,
        //     [ 19.4414589 , -70.68285145 ] ,
        //     [ 19.4414574 , -70.6828597667 ] ,
        //     [ 19.4414562667 , -70.6828685 ] ,
        //     [ 19.4414546 , -70.68287715 ] ,
        //     [ 19.441452 , -70.6828849167 ] ,
        //     [ 19.4414485 , -70.6828938167 ] ,
        //     [ 19.4414470833 , -70.6829021667 ] ,
        //     [ 19.4414468167 , -70.6829108167 ] ,
        //     [ 19.4414449167 , -70.6829201333 ] ,
        //     [ 19.4414455333 , -70.6829294 ] ,
        //     [ 19.44144775 , -70.6829383667 ] ,
        //     [ 19.4414503833 , -70.6829469333 ] ,
        //     [ 19.4414526167 , -70.6829569667 ] ,
        //     [ 19.4414541667 , -70.6829666 ] ,
        //     [ 19.4414557333 , -70.6829791333 ] ,
        //     [ 19.4414565 , -70.6829917667 ] ,
        //     [ 19.4414563333 , -70.683005 ] ,
        //     [ 19.44145485 , -70.6830179167 ] ,
        //     [ 19.4414530167 , -70.6830306167 ] ,
        //     [ 19.4414514833 , -70.6830428333 ] ,
        //     [ 19.4414504667 , -70.6830544 ] ,
        //     [ 19.4414501333 , -70.6830653167 ] ,
        //     [ 19.4414496167 , -70.6830759833 ] ,
        //     [ 19.44144935 , -70.6830860333 ] ,
        //     [ 19.44144885 , -70.6830961833 ] ,
        //     [ 19.4414482833 , -70.6831062667 ] ,
        //     [ 19.4414478333 , -70.68311665 ] ,
        //     [ 19.4414470333 , -70.6831273833 ] ,
        //     [ 19.4414459167 , -70.6831363333 ] ,
        //     [ 19.44144385 , -70.68314535 ] ,
        //     [ 19.4414428333 , -70.6831542833 ] ,
        //     [ 19.44143925 , -70.6831611 ] ,
        //     [ 19.4414358333 , -70.6831702333 ] ,
        //     [ 19.4414337333 , -70.6831785667 ] ,
        //     [ 19.44143225 , -70.6831879333 ] ,
        //     [ 19.44142785 , -70.6831960833 ] ,
        //     [ 19.4414246 , -70.6832056667 ] ,
        //     [ 19.4414204667 , -70.6832151333 ] ,
        //     [ 19.4414157333 , -70.6832267667 ] ,
        //     [ 19.4414126667 , -70.6832375833 ] ,
        //     [ 19.4414088167 , -70.6832484833 ] ,
        //     [ 19.4414051333 , -70.6832604167 ] ,
        //     [ 19.4414001333 , -70.6832715333 ] ,
        //     [ 19.4413943833 , -70.68328195 ] ,
        //     [ 19.4413865333 , -70.6832935833 ] ,
        //     [ 19.44137835 , -70.68330645 ] ,
        //     [ 19.44137005 , -70.6833191167 ] ,
        //     [ 19.4413603 , -70.68332925 ] ,
        //     [ 19.4413456833 , -70.6833353833 ] ,
        //     [ 19.44133135 , -70.6833373667 ] ,
        //     [ 19.4413284 , -70.6833331667 ] ,
        //     [ 19.4413253333 , -70.6833216 ] ,
        //     [ 19.4413169833 , -70.68331215 ] ,
        //     [ 19.4413127667 , -70.6832939333 ] ,
        //     [ 19.4413107167 , -70.6832761 ] ,
        //     [ 19.4413084333 , -70.68326265 ] ,
        //     [ 19.4413056667 , -70.6832577833 ] ,
        //     [ 19.4413051167 , -70.6832606833 ] ,
        //     [ 19.4413016 , -70.6832604167 ] ,
        //     [ 19.4412940833 , -70.6832617 ] ,
        //     [ 19.4412862833 , -70.6832601667 ] ,
        //     [ 19.44128035 , -70.6832525333 ] ,
        //     [ 19.4412732167 , -70.6832455 ] ,
        //     [ 19.4412664167 , -70.68324235 ] ,
        //     [ 19.4412600667 , -70.6832406333 ] ,
        //     [ 19.4412527167 , -70.6832371833 ] ,
        //     [ 19.4412448333 , -70.6832337 ] ,
        //     [ 19.4412378833 , -70.6832291 ] ,
        //     [ 19.4412311167 , -70.6832251667 ] ,
        //     [ 19.4412233333 , -70.6832200667 ] ,
        //     [ 19.4412159 , -70.6832202667 ] ,
        //     [ 19.4412085333 , -70.6832167333 ] ,
        //     [ 19.4411995167 , -70.6832124167 ] ,
        //     [ 19.4411896833 , -70.6832078667 ] ,
        //     [ 19.4411796 , -70.6832035333 ] ,
        //     [ 19.4411698333 , -70.6832003 ] ,
        //     [ 19.4411612 , -70.6831949333 ] ,
        //     [ 19.44115255 , -70.6831889667 ] ,
        //     [ 19.4411444333 , -70.6831836167 ] ,
        //     [ 19.4411351333 , -70.6831777833 ] ,
        //     [ 19.4411254667 , -70.6831712333 ] ,
        //     [ 19.4411154167 , -70.6831632833 ] ,
        //     [ 19.4411051667 , -70.68315605 ] ,
        //     [ 19.4410968333 , -70.6831511167 ] ,
        //     [ 19.4410932333 , -70.6831471167 ] ,
        //     [ 19.4410961667 , -70.6831448 ] ,
        //     [ 19.4411032 , -70.6831438667 ] ,
        //     [ 19.4411118333 , -70.6831428 ] ,
        //     [ 19.441121 , -70.6831424 ] ,
        //     [ 19.44112845 , -70.6831412 ] ,
        //     [ 19.441135 , -70.68314015 ] ,
        //     [ 19.4411398333 , -70.6831332667 ] ,
        //     [ 19.4411443667 , -70.6831279833 ] ,
        //     [ 19.4411443167 , -70.68311845 ] ,
        //     [ 19.4411430333 , -70.68310655 ] ,
        //     [ 19.44114405 , -70.6830949833 ] ,
        //     [ 19.4411449 , -70.6830846833 ] ,
        //     [ 19.4411470333 , -70.6830745167 ] ,
        //     [ 19.4411517167 , -70.6830690667 ] ,
        //     [ 19.4411516333 , -70.6830592833 ] ,
        //     [ 19.4411536667 , -70.6830472667 ] ,
        //     [ 19.4411530667 , -70.6830380167 ] ,
        //     [ 19.4411539 , -70.68302835 ] ,
        //     [ 19.4411655167 , -70.68301935 ] ,
        //     [ 19.4411752833 , -70.6830132 ] ,
        //     [ 19.441179 , -70.68300155 ] ,
        //     [ 19.4411866167 , -70.6829906167 ] ,
        //     [ 19.4411991333 , -70.6829813167 ] ,
        //     [ 19.4412023 , -70.6829675667 ] ,
        //     [ 19.4412086667 , -70.6829580167 ] ,
        //     [ 19.4412127667 , -70.6829503 ] ,
        //     [ 19.4412165 , -70.68294545 ] ,
        //     [ 19.4412172333 , -70.6829417667 ] ,
        //     [ 19.4412221667 , -70.6829397833 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412177167 , -70.68293925 ] ,
        //     [ 19.4412502667 , -70.6829097667 ] ,
        //     [ 19.4412509667 , -70.6829037167 ] ,
        //     [ 19.4412529667 , -70.6828988333 ] ,
        //     [ 19.4412546167 , -70.6828898 ] ,
        //     [ 19.4412592667 , -70.6828827667 ] ,
        //     [ 19.4412621667 , -70.6828770333 ] ,
        //     [ 19.4412645 , -70.6828713333 ] ,
        //     [ 19.4412634833 , -70.6828541833 ] ,
        //     [ 19.4412637 , -70.6828422167 ] ,
        //     [ 19.4412632 , -70.6828284833 ] ,
        //     [ 19.4412636333 , -70.6828127 ] ,
        //     [ 19.44126845 , -70.6828041667 ] ,
        //     [ 19.4412703167 , -70.6827939333 ] ,
        //     [ 19.4412713167 , -70.6827848833 ] ,
        //     [ 19.4412730333 , -70.6827773333 ] ,
        //     [ 19.4412736833 , -70.682779 ] ,
        //     [ 19.4412748 , -70.6827738167 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ] ,
        //     [ 19.44127605 , -70.68277495 ]
        // ];
        //  var polyline= L.polyline(latlngs, {color:'red'}).bindPopup('Primer Viaje').addTo(map);
        //  map.fitBounds(polyline.getBounds());

    </script>
</div>
<% include partials/userfooter.ejs %>