<% include partials/userheader.ejs %>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<div id="map" class="map" style="height:100%">
    <script>
        var map = L.map('map').setView([19.4436,-70.6827], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        var latlngs=[
            [ 19.4412040667 , -70.6827686667 ] ,
            [ 19.4412040667 , -70.6827686667 ] ,
            [ 19.4412607333 , -70.6827290833 ] ,
            [ 19.44124115 , -70.6827241667 ] ,
            [ 19.4412383667 , -70.68271655 ] ,
            [ 19.4412350167 , -70.6827096 ] ,
            [ 19.4412392333 , -70.6827014833 ] ,
            [ 19.4412431 , -70.68269535 ] ,
            [ 19.4412480167 , -70.6826918333 ] ,
            [ 19.4412596667 , -70.6826872167 ] ,
            [ 19.4412601167 , -70.6826876667 ] ,
            [ 19.4412601833 , -70.6826903833 ] ,
            [ 19.4412601833 , -70.6826903833 ] ,
            [ 19.4412424667 , -70.6826797 ] ,
            [ 19.4412456667 , -70.6826766167 ] ,
            [ 19.44124835 , -70.6826744667 ] ,
            [ 19.4412496833 , -70.6826724 ] ,
            [ 19.4412496833 , -70.6826724 ] ,
            [ 19.44125625 , -70.6826671167 ] ,
            [ 19.4412588 , -70.6826673167 ] ,
            [ 19.4412606333 , -70.6826650167 ] ,
            [ 19.4412657 , -70.6826649667 ] ,
            [ 19.4412707 , -70.6826675167 ] ,
            [ 19.4412765167 , -70.6826677 ] ,
            [ 19.4412808167 , -70.6826695167 ] ,
            [ 19.4412898167 , -70.6826697833 ] ,
            [ 19.4412987167 , -70.6826690667 ] ,
            [ 19.4413068667 , -70.68266775 ] ,
            [ 19.4413144833 , -70.6826668 ] ,
            [ 19.4413214333 , -70.68266725 ] ,
            [ 19.4413273667 , -70.68266815 ] ,
            [ 19.4413351333 , -70.6826656167 ] ,
            [ 19.44134255 , -70.6826641833 ] ,
            [ 19.4413515333 , -70.6826656333 ] ,
            [ 19.4413589 , -70.6826621833 ] ,
            [ 19.4413662833 , -70.6826603167 ] ,
            [ 19.441373 , -70.6826594833 ] ,
            [ 19.4413830333 , -70.68266145 ] ,
            [ 19.4413915 , -70.6826605 ] ,
            [ 19.44139945 , -70.6826589 ] ,
            [ 19.4414078167 , -70.6826601333 ] ,
            [ 19.44141535 , -70.6826634 ] ,
            [ 19.4414217 , -70.6826676167 ] ,
            [ 19.4414318 , -70.6826853 ] ,
            [ 19.4414367833 , -70.6826992833 ] ,
            [ 19.4414417833 , -70.6827118667 ] ,
            [ 19.4414440833 , -70.6827271333 ] ,
            [ 19.4414448833 , -70.6827427833 ] ,
            [ 19.4414460833 , -70.6827524 ] ,
            [ 19.441446 , -70.6827605167 ] ,
            [ 19.4414448 , -70.6827686333 ] ,
            [ 19.44144665 , -70.6827765833 ] ,
            [ 19.4414481667 , -70.6827857167 ] ,
            [ 19.4414441833 , -70.6827976333 ] ,
            [ 19.4414427667 , -70.6828058833 ] ,
            [ 19.4414402333 , -70.6828143167 ] ,
            [ 19.44144375 , -70.68282735 ] ,
            [ 19.4414455667 , -70.6828356333 ] ,
            [ 19.4414470333 , -70.6828442833 ] ,
            [ 19.441448 , -70.6828538 ] ,
            [ 19.4414497833 , -70.68286385 ] ,
            [ 19.44145095 , -70.6828751667 ] ,
            [ 19.4414559833 , -70.6828854667 ] ,
            [ 19.4414588167 , -70.6828933 ] ,
            [ 19.4414577333 , -70.6829033333 ] ,
            [ 19.44145625 , -70.68291495 ] ,
            [ 19.4414535 , -70.68292685 ] ,
            [ 19.44144965 , -70.6829389667 ] ,
            [ 19.4414498667 , -70.68295565 ] ,
            [ 19.4414534333 , -70.6829711167 ] ,
            [ 19.4414543 , -70.6829840333 ] ,
            [ 19.4414582333 , -70.6829963167 ] ,
            [ 19.44146325 , -70.6830141167 ] ,
            [ 19.4414695 , -70.6830288 ] ,
            [ 19.44147475 , -70.6830431 ] ,
            [ 19.4414792 , -70.6830569167 ] ,
            [ 19.4414820167 , -70.6830727833 ] ,
            [ 19.4414851333 , -70.6830904333 ] ,
            [ 19.4414859833 , -70.6831014167 ] ,
            [ 19.441487 , -70.6831152333 ] ,
            [ 19.4414864833 , -70.6831245833 ] ,
            [ 19.4414875333 , -70.6831363333 ] ,
            [ 19.44149145 , -70.6831526333 ] ,
            [ 19.4414940167 , -70.68316885 ] ,
            [ 19.4414974167 , -70.6831877833 ] ,
            [ 19.4414947667 , -70.6832039 ] ,
            [ 19.4414926167 , -70.6832191 ] ,
            [ 19.44148705 , -70.6832302167 ] ,
            [ 19.4414868667 , -70.6832428667 ] ,
            [ 19.4414878 , -70.6832523333 ] ,
            [ 19.4414894 , -70.6832635333 ] ,
            [ 19.4414909167 , -70.6832725833 ] ,
            [ 19.4414906333 , -70.6832821833 ] ,
            [ 19.4414861167 , -70.68329165 ] ,
            [ 19.4414825333 , -70.6833004167 ] ,
            [ 19.4414748167 , -70.6833065667 ] ,
            [ 19.44146695 , -70.68331385 ] ,
            [ 19.44144945 , -70.6833145833 ] ,
            [ 19.4414304167 , -70.6833131167 ] ,
            [ 19.4414206333 , -70.6833128333 ] ,
            [ 19.4414103667 , -70.6833141167 ] ,
            [ 19.4413962167 , -70.6833146333 ] ,
            [ 19.4413877167 , -70.6833147667 ] ,
            [ 19.4413798667 , -70.6833097333 ] ,
            [ 19.4413730667 , -70.6833074667 ] ,
            [ 19.4413674667 , -70.6833067 ] ,
            [ 19.4413636833 , -70.6833063833 ] ,
            [ 19.4413626 , -70.68330535 ] ,
            [ 19.4413586667 , -70.6833054167 ] ,
            [ 19.4413521167 , -70.6833035833 ] ,
            [ 19.4413432333 , -70.683299 ] ,
            [ 19.44133635 , -70.6832950333 ] ,
            [ 19.4413295333 , -70.6832905 ] ,
            [ 19.4413174333 , -70.6832795 ] ,
            [ 19.4413098 , -70.6832668667 ] ,
            [ 19.4413025 , -70.6832612333 ] ,
            [ 19.4412938667 , -70.6832548667 ] ,
            [ 19.44128325 , -70.6832453 ] ,
            [ 19.4412721167 , -70.6832378167 ] ,
            [ 19.4412596 , -70.6832302667 ] ,
            [ 19.4412484333 , -70.6832234333 ] ,
            [ 19.4412375 , -70.6832151833 ] ,
            [ 19.4412286333 , -70.6832094 ] ,
            [ 19.4412181 , -70.6832008833 ] ,
            [ 19.44120595 , -70.6831895 ] ,
            [ 19.4411907333 , -70.6831778333 ] ,
            [ 19.4411795667 , -70.6831717167 ] ,
            [ 19.4411700833 , -70.6831657167 ] ,
            [ 19.4411588333 , -70.6831629667 ] ,
            [ 19.44114705 , -70.6831588333 ] ,
            [ 19.4411362667 , -70.68315055 ] ,
            [ 19.4411292667 , -70.6831381833 ] ,
            [ 19.4411318833 , -70.6831295667 ] ,
            [ 19.4411383833 , -70.6831230667 ] ,
            [ 19.4411440167 , -70.6831190667 ] ,
            [ 19.44114915 , -70.68311705 ] ,
            [ 19.44115385 , -70.6831134 ] ,
            [ 19.4411541667 , -70.6831094 ] ,
            [ 19.4411576 , -70.6831099167 ] ,
            [ 19.4411569667 , -70.6831086667 ] ,
            [ 19.44115445 , -70.6831029833 ] ,
            [ 19.4411538833 , -70.6830949667 ] ,
            [ 19.4411523333 , -70.6830836667 ] ,
            [ 19.4411522667 , -70.68307305 ] ,
            [ 19.4411504667 , -70.6830404833 ] ,
            [ 19.4411533167 , -70.6830158167 ] ,
            [ 19.4411556667 , -70.6829931833 ] ,
            [ 19.4411561167 , -70.6829749333 ] ,
            [ 19.4411585 , -70.6829607167 ] ,
            [ 19.4411564667 , -70.68294585 ] ,
            [ 19.4411621 , -70.6829353333 ] ,
            [ 19.4411668 , -70.6829267167 ] ,
            [ 19.4411704667 , -70.68291695 ] ,
            [ 19.4411767167 , -70.6829016667 ] ,
            [ 19.4411769 , -70.6828876167 ] ,
            [ 19.4411732333 , -70.68287895 ] ,
            [ 19.4411763833 , -70.6828724833 ] ,
            [ 19.4411797833 , -70.6828718333 ] ,
            [ 19.44118035 , -70.68287145 ] ,
            [ 19.44118035 , -70.68287145 ] ,
            [ 19.44118035 , -70.68287145 ] ,
            [ 19.44118035 , -70.68287145 ] ,
            [ 19.44118035 , -70.68287145 ] ,
            [ 19.44118345 , -70.6828618833 ] ,
            [ 19.4411828333 , -70.6828545 ] ,
            [ 19.4411833 , -70.6828473333 ] ,
            [ 19.4411817833 , -70.6828393 ] ,
            [ 19.44117965 , -70.68283015 ] ,
            [ 19.44117995 , -70.6828205667 ] ,
            [ 19.44117775 , -70.6828103 ] ,
            [ 19.44117875 , -70.682801 ] ,
            [ 19.4411794167 , -70.6827961833 ] ,
            [ 19.44118365 , -70.68279005 ] ,
            [ 19.4411862833 , -70.6827858333 ] ,
            [ 19.4411901 , -70.6827781333 ] ,
            [ 19.44119685 , -70.68277105 ] ,
            [ 19.4412021667 , -70.68276455 ] ,
            [ 19.44121485 , -70.6827615667 ] ,
            [ 19.44122425 , -70.68275825 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412301167 , -70.68275355 ] ,
            [ 19.4412040667 , -70.6827686667 ] ,
            [ 19.4412040667 , -70.6827686667 ] ,
            [ 19.4412607333 , -70.6827290833 ] ,
            [ 19.44124115 , -70.6827241667 ] ,
            [ 19.4412383667 , -70.68271655 ] ,
            [ 19.4412350167 , -70.6827096 ] ,
            [ 19.4412392333 , -70.6827014833 ] ,
            [ 19.4412431 , -70.68269535 ] ,
            [ 19.4412480167 , -70.6826918333 ] ,
            [ 19.4412596667 , -70.6826872167 ] ,
            [ 19.4412601167 , -70.6826876667 ] ,
            [ 19.4412601833 , -70.6826903833 ] ,
            [ 19.4412424667 , -70.6826797 ] ,
            [ 19.4412456667 , -70.6826766167 ] ,
            [ 19.44124835 , -70.6826744667 ] ,
            [ 19.4412496833 , -70.6826724 ] ,
            [ 19.44125625 , -70.6826671167 ] ,
            [ 19.4412588 , -70.6826673167 ] ,
            [ 19.4412606333 , -70.6826650167 ] ,
            [ 19.4412657 , -70.6826649667 ] ,
            [ 19.4412707 , -70.6826675167 ] ,
            [ 19.4412765167 , -70.6826677 ] ,
            [ 19.4412808167 , -70.6826695167 ] ,
            [ 19.4412898167 , -70.6826697833 ] ,
            [ 19.4412987167 , -70.6826690667 ] ,
            [ 19.4413068667 , -70.68266775 ] ,
            [ 19.4413144833 , -70.6826668 ] ,
            [ 19.4413214333 , -70.68266725 ] ,
            [ 19.4413273667 , -70.68266815 ] ,
            [ 19.4413351333 , -70.6826656167 ] ,
            [ 19.44134255 , -70.6826641833 ] ,
            [ 19.4413515333 , -70.6826656333 ] ,
            [ 19.4413589 , -70.6826621833 ] ,
            [ 19.4413662833 , -70.6826603167 ] ,
            [ 19.441373 , -70.6826594833 ] ,
            [ 19.4413830333 , -70.68266145 ] ,
            [ 19.4413915 , -70.6826605 ] ,
            [ 19.44139945 , -70.6826589 ] ,
            [ 19.4414078167 , -70.6826601333 ] ,
            [ 19.44141535 , -70.6826634 ] ,
            [ 19.4414217 , -70.6826676167 ] ,
            [ 19.4414318 , -70.6826853 ] ,
            [ 19.4414367833 , -70.6826992833 ] ,
            [ 19.4414417833 , -70.6827118667 ] ,
            [ 19.4414440833 , -70.6827271333 ] ,
            [ 19.4414448833 , -70.6827427833 ] ,
            [ 19.4414460833 , -70.6827524 ] ,
            [ 19.441446 , -70.6827605167 ] ,
            [ 19.4414448 , -70.6827686333 ] ,
            [ 19.44144665 , -70.6827765833 ] ,
            [ 19.4414481667 , -70.6827857167 ] ,
            [ 19.4414441833 , -70.6827976333 ] ,
            [ 19.4414427667 , -70.6828058833 ] ,
            [ 19.4414402333 , -70.6828143167 ] ,
            [ 19.44144375 , -70.68282735 ] ,
            [ 19.4414455667 , -70.6828356333 ] ,
            [ 19.4414470333 , -70.6828442833 ] ,
            [ 19.441448 , -70.6828538 ] ,
            [ 19.4414497833 , -70.68286385 ] ,
            [ 19.44145095 , -70.6828751667 ] ,
            [ 19.4414559833 , -70.6828854667 ] ,
            [ 19.4414588167 , -70.6828933 ] ,
            [ 19.4414577333 , -70.6829033333 ] ,
            [ 19.44145625 , -70.68291495 ] ,
            [ 19.4414535 , -70.68292685 ] ,
            [ 19.44144965 , -70.6829389667 ] ,
            [ 19.4414498667 , -70.68295565 ] ,
            [ 19.4414534333 , -70.6829711167 ] ,
            [ 19.4414543 , -70.6829840333 ] ,
            [ 19.4414582333 , -70.6829963167 ] ,
            [ 19.44146325 , -70.6830141167 ] ,
            [ 19.4414695 , -70.6830288 ] ,
            [ 19.44147475 , -70.6830431 ] ,
            [ 19.4414792 , -70.6830569167 ] ,
            [ 19.4414820167 , -70.6830727833 ] ,
            [ 19.4414851333 , -70.6830904333 ] ,
            [ 19.4414859833 , -70.6831014167 ] ,
            [ 19.441487 , -70.6831152333 ] ,
            [ 19.4414864833 , -70.6831245833 ] ,
            [ 19.4414875333 , -70.6831363333 ] ,
            [ 19.44149145 , -70.6831526333 ] ,
            [ 19.4414940167 , -70.68316885 ] ,
            [ 19.4414974167 , -70.6831877833 ] ,
            [ 19.4414947667 , -70.6832039 ] ,
            [ 19.4414926167 , -70.6832191 ] ,
            [ 19.44148705 , -70.6832302167 ] ,
            [ 19.4414868667 , -70.6832428667 ] ,
            [ 19.4414878 , -70.6832523333 ] ,
            [ 19.4414894 , -70.6832635333 ] ,
            [ 19.4414909167 , -70.6832725833 ] ,
            [ 19.4414906333 , -70.6832821833 ] ,
            [ 19.4414861167 , -70.68329165 ] ,
            [ 19.4414825333 , -70.6833004167 ] ,
            [ 19.4414748167 , -70.6833065667 ] ,
            [ 19.44146695 , -70.68331385 ] ,
            [ 19.44144945 , -70.6833145833 ] ,
            [ 19.4414304167 , -70.6833131167 ] ,
            [ 19.4414206333 , -70.6833128333 ] ,
            [ 19.4414103667 , -70.6833141167 ] ,
            [ 19.4413962167 , -70.6833146333 ] ,
            [ 19.4413877167 , -70.6833147667 ] ,
            [ 19.4413798667 , -70.6833097333 ] ,
            [ 19.4413730667 , -70.6833074667 ] ,
            [ 19.4413674667 , -70.6833067 ] ,
            [ 19.4413636833 , -70.6833063833 ] ,
            [ 19.4413626 , -70.68330535 ] ,
            [ 19.4413586667 , -70.6833054167 ] ,
            [ 19.4413521167 , -70.6833035833 ] ,
            [ 19.4413432333 , -70.683299 ] ,
            [ 19.44133635 , -70.6832950333 ] ,
            [ 19.4413295333 , -70.6832905 ] ,
            [ 19.4413174333 , -70.6832795 ] ,
            [ 19.4413098 , -70.6832668667 ] ,
            [ 19.4413025 , -70.6832612333 ] ,
            [ 19.4412938667 , -70.6832548667 ] ,
            [ 19.44128325 , -70.6832453 ] ,
            [ 19.4412721167 , -70.6832378167 ] ,
            [ 19.4412596 , -70.6832302667 ] ,
            [ 19.4412484333 , -70.6832234333 ] ,
            [ 19.4412375 , -70.6832151833 ] ,
            [ 19.4412286333 , -70.6832094 ] ,
            [ 19.4412181 , -70.6832008833 ] ,
            [ 19.44120595 , -70.6831895 ] ,
            [ 19.4411907333 , -70.6831778333 ] ,
            [ 19.4411795667 , -70.6831717167 ] ,
            [ 19.4411700833 , -70.6831657167 ] ,
            [ 19.4411588333 , -70.6831629667 ] ,
            [ 19.44114705 , -70.6831588333 ] ,
            [ 19.4411362667 , -70.68315055 ] ,
            [ 19.4411292667 , -70.6831381833 ] ,
            [ 19.4411318833 , -70.6831295667 ] ,
            [ 19.4411383833 , -70.6831230667 ] ,
            [ 19.4411440167 , -70.6831190667 ] ,
            [ 19.44114915 , -70.68311705 ] ,
            [ 19.44115385 , -70.6831134 ] ,
            [ 19.4411541667 , -70.6831094 ] ,
            [ 19.4411576 , -70.6831099167 ] ,
            [ 19.4411569667 , -70.6831086667 ] ,
            [ 19.44115445 , -70.6831029833 ] ,
            [ 19.4411538833 , -70.6830949667 ] ,
            [ 19.4411523333 , -70.6830836667 ] ,
            [ 19.4411522667 , -70.68307305 ] ,
            [ 19.4411504667 , -70.6830404833 ] ,
            [ 19.4411533167 , -70.6830158167 ] ,
            [ 19.4411556667 , -70.6829931833 ] ,
            [ 19.4411561167 , -70.6829749333 ] ,
            [ 19.4411585 , -70.6829607167 ] ,
            [ 19.4411564667 , -70.68294585 ] ,
            [ 19.4411621 , -70.6829353333 ] ,
            [ 19.4411668 , -70.6829267167 ] ,
            [ 19.4411704667 , -70.68291695 ] ,
            [ 19.4411767167 , -70.6829016667 ] ,
            [ 19.4411769 , -70.6828876167 ] ,
            [ 19.4411732333 , -70.68287895 ] ,
            [ 19.4411763833 , -70.6828724833 ] ,
            [ 19.4411797833 , -70.6828718333 ] ,
            [ 19.44118035 , -70.68287145 ] ,
            [ 19.44118345 , -70.6828618833 ] ,
            [ 19.4411828333 , -70.6828545 ] ,
            [ 19.4411833 , -70.6828473333 ] ,
            [ 19.4411817833 , -70.6828393 ] ,
            [ 19.44117965 , -70.68283015 ] ,
            [ 19.44117995 , -70.6828205667 ] ,
            [ 19.44117775 , -70.6828103 ] ,
            [ 19.44117875 , -70.682801 ] ,
            [ 19.4411794167 , -70.6827961833 ] ,
            [ 19.44118365 , -70.68279005 ] ,
            [ 19.4411862833 , -70.6827858333 ] ,
            [ 19.4411901 , -70.6827781333 ] ,
            [ 19.44119685 , -70.68277105 ] ,
            [ 19.4412021667 , -70.68276455 ] ,
            [ 19.44121485 , -70.6827615667 ] ,
            [ 19.44122425 , -70.68275825 ] ,
            [ 19.4412301167 , -70.68275355 ]
        ];
        var polyline= L.polyline(latlngs, {color:'red'}).bindPopup('Primer Viaje').addTo(map);
        map.fitBounds(polyline.getBounds());

    </script>
</div>
<% include partials/userfooter.ejs %>