<% include partials/_headers %>

<div style="text-align: center;">
    <div class="container">
        <button type="button" class="btn btn-primary btn-lg" style='width:15cm; height:2cm' onclick="location.href='/alquiler'">Alquilar Bicicleta</button>
    </div>
    <br>

    <div class="container">
        <button type="button" class="btn btn-primary btn-lg" style='width:15cm; height:2cm'>Administrar</button>
    </div>
</div>




<% include partials/_footer %>