<% include partials/_headers %>
<div class="container">

    <div class="jumbotron mt-4">
        <hi class="display-4">Sistema automatizado para alquiler de bicicletas en campus universitario</hi>
        <p class="lead">Pontifica Universidad Católica Madre y Maestra PUCMM</p>
        <hr class="my-4">
        <div class="container">
            <img src="Imagenes/bike.png" style="float:none; margin-top:-100px; margin-left:200px; object-fit: cover;">
            <button type="submit" id="alq"
                    onclick="location.href='/signin'">Administrar Sistema
            </button>
            <button type="submit" id="sign"
                    onclick="location.href='/alquilar'">Alquilar bicicleta
            </button>
        </div>
    </div>
</div>

<% include partials/_footer %>