
<% include partials/_headers %>

<div class="content1">
    <div class="content1.1">
        <div class="jumbotron">
            <hi class="display-4">Sistema automatizado para alquiler de bicicletas en campus universitario</hi>
            <p class="lead">Pontificia Universidad Católica Madre y Maestra PUCMM</p>
        </div>
    </div>
</div>

<div class="content2">
        <div class="card card2.1">
            <div class="card-header">
                <h3 >Bienvenido:</h3>
            </div>

            <div class="content2.2">
                <div class="card-body card-body2.1">
                    <img class="img2.1" src="Imagenes/bike2.png" >
                    <button type="submit" id="alq"
                        onclick="location.href='/signin'">Administrar Sistema
                     </button>
                    <button type="submit" id="sign"
                        onclick="location.href='/alquilar'">Alquilar bicicleta
                    </button>
                </div>
                <!-- weather widget start --><a target="_blank" href="https://hotelmix.es/weather/santiago-de-los-caballeros-47981"><img class="widget" src="https://w.bookcdn.com/weather/picture/4_47981_1_4_137AE9_350_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=582&anc_id=13035"  alt="booked.net"/></a><!-- weather widget end -->
            </div>
        </div>
</div>

<% include partials/_footer %>
