<% include partials/_headers %>
<div class="container my-5">
    <div class="col-md-12">
        <div class="card" href="/#">
            <div class="card-body">
                <div style="text-align: center;">
                    <div class="container">
                        <button type="button" class="btn btn-primary btn-lg"onclick="location.href='/alquiler'">Alquilar Bicicleta</button>
                        <h1> <a href="/alquiler">loco</a></h1>
                    </div>
                    <br>

                    <div class="container">
                        <button type="button" class="btn btn-primary btn-lg">Administrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>