<% include partials/_headers %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
            <div id="map" class="map"></div>
            <script>
                var map = new ol.Map({
                    layers: [new ol.layer.Tile({source: new ol.source.OSM()})],
                    target: 'map',
                    view: new ol.View({
                        projection: 'EPSG:4326',
                        center: [-70.6827,19.4436],
                        zoom: 16})});
            </script>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <legend>Login: </legend>
                        <div class="form-group" >
                            <input type="text" name="usuario" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group" >
                            <input type="text" name="contraseña" placeholder="Contraseña" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                        <button type="button" class="btn btn-primary" onclick="location.href='/login'">
                            Registrarse
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>