<% include partials/_headers %>
<div class="content4">
    <div class="content4.1">
        <div class="bikepark"></div>
            <div class="card card4.1">
                <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3;">
                    <h3>Alquiler de bicicletas</h3>
                </div>
                <div class="card-body card-body4.3">
                    <form name="calculator"  action="/verpin" method="post">

                        <legend style="font-family: sans-serif; font-size:20px;">Escanee su carnet universitario: </legend>
                        <div class="form-group" >
                            <input type="text"  name="matricula" id="mat" class="form-control" autofocus>
                        </div>

                        <legend style="font-family: sans-serif; font-size:20px;">Digite su pin: </legend>
                            <input name="pin"  type="password" readonly="readonly" size="4"  style="width:152px; text: Arial; font-size: 20pt; background-color:#EBE6E5" >


                            <table>
                                <tbody>
                                <tr></tr><tr></tr><tr></tr>
                                <tr>
                                    <td>  <input type="button" value="7" onclick="number(7)"  style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                    <td>  <input type="button" value="8" onclick="number(8)"  style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                    <td>  <input type="button" value="9" onclick="number(9)"  style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                </tr>

                                <tr>
                                    <td>  <input value="4" onclick="number(4)" type="button" style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                    <td>  <input value="5" onclick="number(5)" type="button" style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                    <td>  <input value="6" onclick="number(6)" type="button" style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                </tr>

                                <tr>
                                    <td>  <input value="1" onclick="number(1)" type="button" style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                    <td>  <input value="2" onclick="number(2)" type="button" style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                    <td>  <input value="3" onclick="number(3)" type="button" style='width:50px; height:50px;font-size:30px;color:dodgerblue'></td>
                                </tr>

                                <td><input value="0" onclick="number(0)" type="button" style='width:50px; height:50px;font-size:30px;color:black'></td>

                                <td></td>

                                <td><input value="C" onclick="clear1()" type="button" style='width:50px; height:50px;font-size:30px;color:black'></td>

                                <td></td>

                                <button class="button" type="submit" style="font-family: sans-serif; font-size:20px; color:dodgerblue; height:40px; width:80px">Ir</button>

                                </tbody>
                            </table>
                    </form>
                </div>
            </div>
    </div>
</div>
<% include partials/_footer %>