<% include partials/_headers %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
            <div class="card" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3;">
                <div class="card-header">
                    <h3>Registro de usuarios</h3>
                </div>
                <div class="card-body" style="background-color: #D3D3D3;color: #2C3E50; font-weight: bold;">
                    <form action="/add" method="post" style="color: #2C3E50; font-weight: bold;">
                        <legend>Datos del usuario: </legend>
                        <div class="form-group" >
                            <input type="text" name="primername" placeholder="Primer nombre" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="segundoname" placeholder="Segundo nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="primerapellido" placeholder="Primer apellido" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="segundoapellido" placeholder="Segundo apellido" class="form-control">
                        </div>
                        <h5>Tipo de usuario: </h5>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="cbox1" name="tipo" value="estudiante" onchange="habilitar(this.checked,id);">
                                Estudiante
                                <br>

                                <input class="form-check-input" type="checkbox" id="cbox2" name="tipo" value="empleado" onchange="habilitar(this.checked,id);" >
                                Empleado/Administrador
                                <br>

                            </label>
                        </div>
                        <br>
                        <div class="form-group" style="color: #2C3E50; font-weight: bold;">
                            <input type="text" id="mat" name="matricula" placeholder="Matricula" class="form-control" disabled="true">
                        </div>
                        <div class="form-group" style="color: #2C3E50; font-weight: bold;">
                            <input type="text" id="ced" name="cedula" placeholder="Cedula" class="form-control" disabled="true">
                        </div>
                        <div class="form-group" >
                            <input type="text" id="correo" name="correo" placeholder="Correo Electrónico" class="form-control" disabled="true">
                        </div>

                        <h5>Información de login: </h5>
                        <div class="form-group">
                            <input type="text" name="usuario" placeholder="Nombre de usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="contrasena" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pin" placeholder="Pin de 4 digitos" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Registrar
                            </button>
                            <button type="button" class="btn btn-primary">
                                Cancelar
                            </button>
                        </div>


                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<% include partials/_footer %>


