.content7 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.element4 {
    margin: 5px;
    text-align: center;
}
#adm1{
    border: 5px solid darkgray;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:200px; height:200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm2{
    border: 5px solid darkgray;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:200px; height:200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm3{
    border: 5px solid darkgray;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:200px; height:200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm4{
    border: 5px solid darkgray;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:200px; height:200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm5{
     border: 5px solid darkgray;
     color:#D3D3D3;
     font-weight: bold;
     font-size: 20px;
     background-color: #2C3E50 ;
     width:200px; height:200px;
     -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
     border-radius: 100px;"
 }
#adm6{
    border: 5px solid darkgray;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:200px; height:200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}

div.contenedortres{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4em;
}
div.elementotres{
    text-align: -moz-left;
    height: 200px; width: 350px;

}
@media screen and (min-width: 800px) {
    .content7 {
        width: 1000px;
        height: 250px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .element4 {
        margin: 5px;
        text-align: center;
    }

    #adm1{
        border: 5px solid darkgray;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        width:150px; height:150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;"
    }
    #adm1:hover{
        outline:0;
        background: url("../Imagenes/bicinn.png") no-repeat scroll ;
        background-size: 120px 100px;
        background-position: center;
        cursor:pointer;
        border:5px solid #2C3E50;
        color: transparent;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }
    #adm2{
        border: 5px solid darkgray;
        background-size: 120px 100px;
        background-position: center;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        width:150px; height:150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;"
    }
    #adm2:hover{
        outline:0;
        background: url("../Imagenes/bicycle-parking.png") no-repeat scroll ;
        background-size: 120px 100px;
        background-position: center;
        color: transparent;
        cursor:pointer;
        border:5px solid #2C3E50;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }
    #adm3{
        border: 5px solid darkgray;
        background-size: 120px 100px;
        background-position: center;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        width:150px; height:150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    #adm3:hover{
        outline:0;
        background: url("../Imagenes/mapofroadsb.png") no-repeat scroll ;
        background-size: 120px 100px;
        background-position: center;
        color: transparent;
        cursor:pointer;
        border:5px solid #2C3E50;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }
    #adm4{
        border: 5px solid darkgray;
        background-size: 120px 100px;
        background-position: center;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        width:150px; height:150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;"
    }
    #adm4:hover{
        outline:0;
        background: url("../Imagenes/way.png") no-repeat scroll ;
        background-size: 120px 100px;
        background-position: center;
        color: transparent;
        cursor:pointer;
        border:5px solid #2C3E50;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }
    #adm5{
        border: 5px solid darkgray;
        background-size: 120px 100px;
        background-position: center;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        width:150px; height:150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;"
    }
    #adm5:hover{
        outline:0;
        background: url("../Imagenes/group.png") no-repeat scroll ;
        background-size: 120px 100px;
        background-position: center;
        color: transparent;
        cursor:pointer;
        border:5px solid #2C3E50;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }
    #adm6{
        border: 5px solid darkgray;
        background-size: 120px 100px;
        background-position: center;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        width:150px; height:150px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;"
    }
    #adm6:hover{
        outline:0;
        background: url("../Imagenes/shape.png") no-repeat scroll ;
        background-size: 120px 100px;
        background-position: center;
        color: transparent;
        cursor:pointer;
        border:5px solid #2C3E50;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }

    div.contenedortres{
        width: 1000px;
        height: 700px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 4em;
    }
    div.elementotres{
        text-align: -moz-left;
        height: 500px; width: 1200px;
    }
}