div.contenedor{
    width: 1200px;
    height: 250px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.elemento{
    margin: 5px;
    text-align: center;
}
div.contenedoruno{
    width: 600px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementouno{
margin: 5px;
    text-align: center;
}
div.contenedordos{
    width: 250px;
    height: 400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid black;
}
div.elementodos{
    text-align: -moz-left;
}
div.contenedortres{
    width: 1200px;
    height: 700px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementotres{
    text-align: -moz-left;
    height: 500px; width: 1200px;
}
div.contenedorcuatro{
    width: 700px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flow: none;
    display: flex;
    padding: 5px;
    margin-left: 300px;
    margin-right: auto;
    margin-top: -650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementocuatro{
    margin: 5px;
    text-align: center;
}
div.contenedorcuatromini{
    width: 300px;
    height: 360px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flow: none;
    display: flex;
    padding: 5px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementocuatromini{
    margin: 5px;
    text-align: left;
}
div.contenedorcinco{
    width: 900px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flow: none;
    display: flex;
    padding: 5px;
    margin-left: 300px;
    margin-right: auto;
    margin-top: -360px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementocinco{
    margin: 5px;
    text-align: center;
}

div.contenedorseis{
    width: 700px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flow: none;
    display: flex;
    padding: 5px;
    margin-left: 300px;
    margin-right: auto;
    margin-top: -650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementoseis{
    margin: 5px;
    text-align: center;
}
div.contenedorseismini{
    width: 300px;
    height: 360px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flow: none;
    display: flex;
    padding: 5px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementoseismini{
    margin: 5px;
    text-align: left;
}

#adm1{
    border: 5px solid darkgray;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:170px; height:170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm1:hover{
    outline:0;
    background: url("../Imagenes/bicinn.png") no-repeat scroll ;
    background-size: 120px 100px;
    background-position: center;
    cursor:pointer;
    border:5px solid #2C3E50;
    color: transparent;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
#adm2{
    border: 5px solid darkgray;
    background-size: 120px 100px;
    background-position: center;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:170px; height:170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm2:hover{
    outline:0;
    background: url("../Imagenes/bicycle-parking.png") no-repeat scroll ;
    background-size: 120px 100px;
    background-position: center;
    color: transparent;
    cursor:pointer;
    border:5px solid #2C3E50;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
#adm3{
    border: 5px solid darkgray;
    background-size: 120px 100px;
    background-position: center;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:170px; height:170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm3:hover{
    outline:0;
    background: url("../Imagenes/mapofroadsb.png") no-repeat scroll ;
    background-size: 120px 100px;
    background-position: center;
    color: transparent;
    cursor:pointer;
    border:5px solid #2C3E50;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
#adm4{
    border: 5px solid darkgray;
    background-size: 120px 100px;
    background-position: center;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:170px; height:170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm4:hover{
    outline:0;
    background: url("../Imagenes/way.png") no-repeat scroll ;
    background-size: 120px 100px;
    background-position: center;
    color: transparent;
    cursor:pointer;
    border:5px solid #2C3E50;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
#adm5{
    border: 5px solid darkgray;
    background-size: 120px 100px;
    background-position: center;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    width:170px; height:170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#adm5:hover{
    outline:0;
    background: url("../Imagenes/group.png") no-repeat scroll ;
    background-size: 120px 100px;
    background-position: center;
    color: transparent;
    cursor:pointer;
    border:5px solid #2C3E50;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
div.bikemove{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 200px;
    background-size: 250px 250px;
    cursor:pointer;
    background-image: url("../Imagenes/bicimove.gif");
    border: 5px solid #2C3E50 ;
}
.my-custom-scrollbar {
    position: relative;
    height: 330px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}