div.contenedor{
    width: 1200px;
    height: 250px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.elemento{
    margin: 5px;
    text-align: center;
}
div.contenedoruno{
    width: 600px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.elementouno{
margin: 5px;
    text-align: center;
}
div.contenedordos{
    width: 250px;
    height: 400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid black;
}
div.elementodos{
    text-align: -moz-left;
}

div.elementocuatromini{
    margin: 5px;
    text-align: left;
}

div.bikemove{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 200px;
    background-size: 250px 250px;
    cursor:pointer;
    background-image: url("../Imagenes/bicimove.gif");
    border: 5px solid #2C3E50 ;
}
.my-custom-scrollbar {
    position: relative;
    height: 330px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}