body{
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
#alq{
    border:0;
    outline:0;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    float:left;
    position:absolute;
    display:block;
    margin: -250px 8px 200px 420px;
    width:170px; height:170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#alq:hover{
    background: #7FFFD4;
    color:#000000;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
    border:1px solid #A3E4D7;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
#sign {
    border: 0;
    outline: 0;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50;
    float: left;
    position: absolute;
    display: block;
    margin: -250px 100px 200px 120px;
    width: 170px;
    height: 170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
#sign:hover{
    background: #7FFFD4;
    color:#000000;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
    border:1px solid #A3E4D7;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}


