body {
    background: #9CECFB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, rgba(19, 176, 223, 0.26) 0%, rgba(19, 176, 223, 0.26) 23%, rgba(16, 160, 197, 0.26) 23%, rgba(16, 160, 197, 0.26) 65%, rgba(13, 144, 172, 0.26) 65%, rgba(13, 144, 172, 0.26) 70%, rgba(9, 129, 146, 0.26) 70%, rgba(9, 129, 146, 0.26) 74%, rgba(6, 113, 121, 0.26) 74%, rgba(6, 113, 121, 0.26) 90%, rgba(3, 97, 95, 0.26) 90%, rgba(3, 97, 95, 0.26) 100%), linear-gradient(45deg, rgba(65, 234, 230, 0.26) 0%, rgba(65, 234, 230, 0.26) 28%, rgba(88, 192, 215, 0.26) 28%, rgba(88, 192, 215, 0.26) 55%, rgba(110, 150, 201, 0.26) 55%, rgba(110, 150, 201, 0.26) 66%, rgba(133, 107, 186, 0.26) 66%, rgba(133, 107, 186, 0.26) 80%, rgba(155, 65, 172, 0.26) 80%, rgba(155, 65, 172, 0.26) 85%, rgba(178, 23, 157, 0.26) 85%, rgba(178, 23, 157, 0.26) 100%), linear-gradient(90deg, rgb(27, 194, 246) 0%, rgb(27, 194, 246) 6%, rgb(39, 174, 237) 6%, rgb(39, 174, 237) 32%, rgb(50, 155, 229) 32%, rgb(50, 155, 229) 40%, rgb(62, 135, 220) 40%, rgb(62, 135, 220) 66%, rgb(74, 116, 211) 66%, rgb(74, 116, 211) 72%, rgb(86, 96, 202) 72%, rgb(86, 96, 202) 86%, rgb(97, 77, 194) 86%, rgb(97, 77, 194) 96%, rgb(109, 57, 185) 96%, rgb(109, 57, 185) 100%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.content1{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.jumbotron {
    text-align: justify;
}

.jumbotron h1{
    margin: auto;
    font-size: 50px;
    font-family: sans-serif;
}
.jumbotron p{
    text-align: justify;
    margin: auto;
    font-size: 20px;
    font-family: sans-serif;
}

.content2{
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
}
.content2\.2{
    margin-top: 5px;
    background-color:#D3D3D3;
}
.card2\.1{
    background-color:#2C3E50;
    font-weight: bold;
    color:#D3D3D3;
    margin-top: 10px;
}
.mine{
    justify-content: center;
}
.img2\.1{
    margin:auto;
    object-fit: cover;
    width: 400px;
}
.content3{
    margin-top: 10px;
}

#alq{
    border:0;
    outline:0;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50 ;
    float:left;
    position:absolute;
    display:block;
    margin: -218px 8px 200px 270px;
    width:140px; height:140px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;"
}
#alq:hover{
    background: #7FFFD4;
    color:#000000;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
    border:1px solid #A3E4D7;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}
#sign {
    border: 0;
    outline: 0;
    color:#D3D3D3;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50;
    float: left;
    position: absolute;
    display: block;
    margin: -218px 100px 200px 35px;
    width: 140px;
    height: 140px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
#sign:hover{
    background: #7FFFD4;
    color:#000000;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
    border:1px solid #A3E4D7;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
}


@media screen and (min-width: 800px) {
    .jumbotron {
        text-align: center
    }
    .jumbotron p{
        text-align: center;
        margin: auto;
        font-size: 20px;
        font-family: sans-serif;
    }


    #alq{
        border:0;
        outline:0;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50 ;
        float:left;
        position:absolute;
        display:block;
        margin: -270px 8px 200px 328px;
        width:180px; height:180px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    #alq:hover{
        background: #7FFFD4;
        color:#000000;
        font-weight: bold;
        cursor:pointer;
        font-size: 20px;
        border:1px solid #A3E4D7;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }
    #sign {
        border: 0;
        outline: 0;
        color:#D3D3D3;
        font-weight: bold;
        font-size: 20px;
        background-color: #2C3E50;
        float: left;
        position: absolute;
        display: block;
        margin: -270px 100px 200px 35px;
        width: 180px;
        height: 180px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    #sign:hover{
        background: #7FFFD4;
        color:#000000;
        font-weight: bold;
        cursor:pointer;
        font-size: 20px;
        border:1px solid #A3E4D7;
        font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    }

    .content2\.4{
        width: 100%;
        max-width: 20rem;
        float:none;
        margin: auto;
        margin-top: 10px;
    }

    .img2\.1{
        margin:auto;
        object-fit: cover;
        width: 500px;
        height: 500px;
    }

}